.header{
  width: 100%;
  background-color: rgb(163, 241, 250);
  display: flex;
  justify-content: space-around;
  height: 55px;
}
.mindx,.login{
  font-size: 30px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin-top: 5px;
}
.form-login{
  display: flex;
  flex-direction: column;
  background-color: rgb(90, 54, 233);
  width: 30%;
  height: 200px;
  border-radius: 20px;
  align-items: center;
  margin-top: 200px;
  margin-left: 35%;
}
.header-form{
  border-bottom: 1px solid rgb(84, 50, 50);
  width: 100%;
  text-align: center;
  height: 34px;
  padding-top: 8px;
  font-size: 21px;
  font-weight: 600;
}
.body-form{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.text-input{
  width: 350px;
  height: 25px;
  border-radius: 5px;

}
.btn-input{
  margin-left: 33%;
  width: 100px;
  margin-top: 30px;
  background-color: rgb(36, 36, 124);
  border-radius: 10px;
  color: aliceblue;
  height: 30px;
  cursor: pointer;
}
.footer{
  width: 100%;
  background-color: rgb(156, 151, 151);
  height: 40px;
  margin-top: 470px;
}
.hello{
  font-size: 40px;
  margin-top: 44px;
  font-weight: 700;
  color: rgb(231, 240, 237);
}